# .gitignore

# Игнорировать системные и временные директории
AppData/
Application Data/
Cookies/
Local Settings/
NetHood/
PrintHood/
Recent/
SendTo/
главное меню/
Мои документы/
Шаблоны/

# Игнорировать конкретные файлы
AppData/Local/AVAST Software/Browser/User Data/Default/Cache/Cache_Data/data_0
